
.modal .modal-dialog{width:96%}@media (min-width:991px){.modal .modal-dialog{width:80%}}@media (min-width:1199px){.modal .modal-dialog{width:50%}}
span.billing-cycle{position:relative;top:-5px;left:3px}
span.should-email-receipts{position:relative;top:-5px;left:3px}
input.toggle+label:before{background:rgba(44,184,226,0)}
input.toggle:checked+label:before{background:#2cb8e2}
input.toggle:checked+label:after{box-shadow:inset 0 0 0 1px #2cb8e2,0 2px 4px rgba(0,0,0,0.2)}
span.newsletter-name{position:relative;top:-9px;padding-left:8px}
span.newsletter-description{position:relative;top:-9px;padding-left:16px}
.chosen-container-single .chosen-single{width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}.chosen-container-single .chosen-single div b{background-position-y:6px}
.chosen-container-single.chosen-container-single.chosen-with-drop div b{background-position-y:6px}
.email-unconfirmed.fa{position:absolute;top:8px;right:20px;color:#e2634f}